AUTO 2/FLUJO DE DATOS 1.json
{
  "name": "FLUJO DE DATOS 1",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/notify",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        16,
        0
      ],
      "id": "f46df0c0-1790-4ab2-bab0-4f867b4196bf",
      "name": "Webhook",
      "webhookId": "2ea95433-9da1-4331-9513-4ac9d21e016e"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "8cac0c5f-1a21-47a8-89ff-1b5cae2694bc",
              "leftValue": "={{ $json.body.email }}",
              "rightValue": "^[a-zA-Z0-9_%.+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}$",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        224,
        0
      ],
      "id": "9151691a-2ab6-4c5d-862e-7607e6d4401e",
      "name": "If"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Webhook').item.json.body.name }}",
        "subject": "=Nueva Solicitud de Contacto -{{ $('Webhook').item.json.body.name }}",
        "message": "=<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n    <meta charset=\"UTF-8\">\n    <style>\n        body { font-family: 'Segoe UI', Tahoma, Geneva, sans-serif; background-color: #f5f5f5; margin: 0; padding: 20px; }\n        .container { max-width: 700px; margin: 0 auto; background: white; border-radius: 8px; box-shadow: 0 2px 8px rgba(0,0,0,0.1); overflow: hidden; }\n        .header { background: linear-gradient(135deg, #1a2f4b 0%, #2d5a8a 100%); color: white; padding: 30px; }\n        .header h2 { margin: 0; font-size: 24px; }\n        .content { padding: 30px; }\n        .field { margin-bottom: 20px; }\n        .label { color: #2d5a8a; font-weight: bold; font-size: 13px; text-transform: uppercase; letter-spacing: 1px; margin-bottom: 5px; }\n        .value { color: #333; font-size: 15px; line-height: 1.6; padding: 10px; background: #f9f9f9; border-left: 3px solid #00d4ff; }\n        .footer { background: #f9f9f9; padding: 20px; text-align: center; color: #666; font-size: 12px; border-top: 1px solid #ddd; }\n        .id-badge { display: inline-block; background: #00d4ff; color: white; padding: 5px 10px; border-radius: 4px; font-size: 12px; margin-top: 10px; }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <div class=\"header\">\n            <h2>✉️ Nueva Solicitud de Contacto Recibida</h2>\n            <p>Hemos recibido tu mensaje. Nos pondremos en contacto pronto.</p>\n        </div>\n        \n        <div class=\"content\">\n            <div class=\"field\">\n                <div class=\"label\">👤 Nombre Completo</div>\n                <div class=\"value\">{{ $json.nombre }}</div>\n            </div>\n\n            <div class=\"field\">\n                <div class=\"label\">📧 Email</div>\n                <div class=\"value\">{{ $json.email }}</div>\n            </div>\n\n            <div class=\"field\">\n                <div class=\"label\">🏢 Empresa</div>\n                <div class=\"value\">{{ $json.empresa }}</div>\n            </div>\n\n            <div class=\"field\">\n                <div class=\"label\">📱 Teléfono</div>\n                <div class=\"value\">{{ $json.telefono }}</div>\n            </div>\n\n            <div class=\"field\">\n                <div class=\"label\">🎯 Asunto</div>\n                <div class=\"value\">{{ $json.asunto }}</div>\n            </div>\n\n            <div class=\"field\">\n                <div class=\"label\">💬 Mensaje</div>\n                <div class=\"value\" style=\"white-space: pre-wrap;\">{{ $json.mensaje }}</div>\n            </div>\n\n            <div class=\"field\">\n                <div class=\"label\">⚡ Prioridad</div>\n                <div class=\"value\">{{ $json.prioridad.toUpperCase() }}</div>\n            </div>\n\n            <hr style=\"border: none; border-top: 1px solid #ddd; margin: 30px 0;\">\n\n            <div style=\"background: #f0f7ff; padding: 15px; border-radius: 5px; font-size: 12px; color: #2d5a8a;\">\n                <strong>🔍 Detalles del Sistema:</strong><br>\n                ID de Solicitud: {{ $json.id_solicitud }}<br>\n                Fecha/Hora: {{ $now.toFormat('dd/MM/yyyy HH:mm:ss') }}<br>\n                Estado: {{ $json.estado }}<br>\n                Asignado a: {{ $json.asignado_a }}\n            </div>\n        </div>\n\n        <div class=\"footer\">\n            <p>Este es un email automático del sistema de contacto. Por favor no respondas a este correo. Usa el formulario web para enviar mensajes adicionales.</p>\n            <p><strong>Corporación Universitaria de Huila - Ingeniería Mecatrónica</strong></p>\n        </div>\n    </div>\n</body>\n</html>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        880,
        -176
      ],
      "id": "84252113-5783-43e3-af37-b67d42cad030",
      "name": "Send a message",
      "webhookId": "c9759f40-91ce-4760-9a88-81527717da90",
      "credentials": {
        "gmailOAuth2": {
          "id": "9rGEiX4prvn86PXC",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "action": "generate",
        "dataPropertyName": "id_solicitud"
      },
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 2,
      "position": [
        368,
        -128
      ],
      "id": "c2d1a61f-5f2b-4f30-9744-620b1255bfe7",
      "name": "Crypto"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "996743ba-f653-48f6-b29e-f2522b31a8cf",
              "name": "timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "671c7851-00a6-4ed7-934b-373d72782120",
              "name": "id_solicitud",
              "value": "={{ $node[\"Crypto\"].json.id_solicitud }}",
              "type": "string"
            },
            {
              "id": "6fabf90e-66dd-4ded-827a-58451cd76428",
              "name": "estado",
              "value": "\"NUEVO\"",
              "type": "string"
            },
            {
              "id": "36942cfd-420a-414f-b272-9a1ce90bd081",
              "name": "asignado_a",
              "value": "\"Soporte Técnico\"",
              "type": "string"
            },
            {
              "id": "ce487c32-92d0-4830-a824-14f43990be0c",
              "name": "origen_sistema",
              "value": "\"Formulario Web - Sistema n8n\"",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        576,
        -128
      ],
      "id": "4f346c8b-4dd8-414d-9623-6e29922b3018",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "url",
          "value": "https://docs.google.com/spreadsheets/d/1L11qpP0AkVFL3x3UR8t6PVQZwS-csb84BY3vEZNFjHI/edit?usp=drivesdk",
          "__regex": "https:\\/\\/(?:drive|docs)\\.google\\.com(?:\\/.*|)\\/d\\/([0-9a-zA-Z\\-_]+)(?:\\/.*|)"
        },
        "sheetName": {
          "__rl": true,
          "value": "TRABAJO 2 AUTO",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1088,
        -176
      ],
      "id": "e173895d-ce82-4e61-9312-bea0361221ef",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "TgOOjn8kMyF4Vxqu",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Crypto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crypto": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "176c8b87-a8d4-4550-9da3-6dc4be0d944a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2e95c17c4e4eb7ef8e3f100f5a33139d47b1d2f44be15aecad472b6995326913"
  },
  "id": "gK7EsPmmOUHZhSEG",
  "tags": []
}